# ==============================================================================
# DOMAIN CONFIG
# ==============================================================================
DOMAIN_NAME=ybutkov.42.fr

# ==============================================================================
# MARIADB CONFIG
# ==============================================================================
MARIADB_DATABASE=wordpress

MARIADB_ADMIN_USER=dbbigboss
MARIADB_WP_USER=wp_db_user

MARIADB_ROOT_PASSWORD_HOST_FILE=../secrets/db_root_password.txt
MARIADB_ROOT_PASSWORD_FILE=/run/secrets/mariadb_root_pass

MARIADB_ADMIN_PASSWORD_HOST_FILE=../secrets/db_admin_password.txt
MARIADB_ADMIN_PASSWORD_FILE=/run/secrets/mariadb_admin_pass

MARIADB_WP_USER_PASSWORD_HOST_FILE=../secrets/db_wp_user_password.txt
MARIADB_WP_USER_PASSWORD_FILE=/run/secrets/mariadb_wp_user_pass

# ==============================================================================
# WORDPRESS CONFIG
# ==============================================================================
WP_TITLE=Inception

WP_DB_HOST=mariadb:3306
WP_DB_NAME=$MARIADB_DATABASE
WP_DB_USER=$MARIADB_WP_USER
WP_DB_PASSWORD_FILE=$MARIADB_WP_USER_PASSWORD_FILE
WP_REDIS_HOST=redis
WP_REDIS_PORT=6379

WP_ADMIN_USER=ybutkov
WP_ADMIN_EMAIL=ybutkov@student.42.fr
WP_ADMIN_PASSWORD_HOST_FILE=../secrets/wp_admin_password.txt
WP_ADMIN_PASSWORD_FILE=/run/secrets/wp_admin_pass

WP_USER=justuser
WP_USER_EMAIL=justuser@student.42.fr
WP_USER_PASSWORD_HOST_FILE=../secrets/wp_user_password.txt
WP_USER_PASSWORD_FILE=/run/secrets/wp_user_pass


# ==============================================================================
# NGINX CONFIG
# ==============================================================================
NGINX_SSL_CERTIFICATE_HOST_FILE=../secrets/certs/inception_nginx.crt
NGINX_SSL_CERTIFICATE_FILE=/run/secrets/nginx_cert

NGINX_SSL_CERTIFICATE_KEY_HOST_FILE=../secrets/certs/inception_nginx.key
NGINX_SSL_CERTIFICATE_KEY_FILE=/run/secrets/nginx_key


# ==============================================================================
# FTP SERVER CONFIG (Bonus)
# ==============================================================================
FTP_USER=ftp_user
FTP_PASSWORD_HOST_FILE=../secrets/ftp_password.txt
FTP_PASSWORD_FILE=/run/secrets/ftp_password

# ==============================================================================
# PORTAINER CONFIG (Bonus)
# ==============================================================================
PORTAINER_PASSWORD_HOST_FILE=../secrets/portainer_admin_password.txt
PORTAINER_PASSWORD_FILE=/run/secrets/portainer_admin_pass