background=NO

local_enable=YES

write_enable=YES
local_umask=002

xferlog_enable=YES
xferlog_file=/var/log/vsftpd.log

listen=YES
listen_ipv6=NO

chroot_local_user=YES
allow_writeable_chroot=YES

pasv_enable=YES
pasv_min_port=21210
pasv_max_port=21220
pasv_address=${FTP_PASV_ADDRESS}